#secret {
  opacity: 10%;
  width: 50px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  overflow: hidden;
  background-color: #333;
  background-image: linear-gradient(0deg, #3b3b3b 1px, transparent 1px), linear-gradient(90deg, #3b3b3b 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0;
  animation: moveGrid 20s linear infinite;
}

@keyframes moveGrid {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 1000px 1000px, 1000px 1000px;
  }
}
#landing-page {
  text-align: center;
  position: relative;
  top: 20%;
}
#landing-page #title-wave {
  font-size: 6em;
  text-align: center;
  color: #fff;
}
#landing-page #title-wave span {
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease;
}
#landing-page .level-button {
  width: 300px;
  height: 100px;
  font-size: 36px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out, color 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#landing-page .level-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: -1;
}
#landing-page .level-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#landing-page .level-button:hover:before {
  opacity: 1;
}
#landing-page #easy {
  background-color: #4CAF50;
}
#landing-page #medium {
  background-color: #FFC107;
}
#landing-page #hard {
  background-color: #F44336;
}

#game-container {
  display: none;
  text-align: center;
  padding: 20px;
  background: transparent;
}
#game-container #maze {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background: #000;
}
#game-container #maze .maze-cell {
  display: inline-block;
  vertical-align: top;
  border: none;
  transition: opacity 0.3s ease-in-out;
  margin: -1px;
}
#game-container #maze .maze-cell.wall {
  background-color: #666;
}
#game-container #maze .maze-cell.path, #game-container #maze .maze-cell.endpoint {
  background-color: #eee;
}
#game-container #maze .maze-cell.player {
  background-color: #f00;
  box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
}
#game-container #maze .maze-cell.endpoint {
  background-color: #0f0;
}
#game-container #maze .maze-cell .player {
  box-shadow: 0 0 30px 15px rgba(255, 0, 0, 0.75);
}
#game-container .arrow-keys {
  width: 160px;
  height: 160px;
  margin: 20px auto;
  position: relative;
}
#game-container .arrow-keys .arrow-key {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  background: #4d4d4d;
  color: #fff;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
#game-container .arrow-keys .arrow-key:hover, #game-container .arrow-keys .arrow-key.active {
  background-color: #666666;
  transform: scale(1.1);
}
#game-container .arrow-keys #up {
  top: 0;
  left: 50px;
}
#game-container .arrow-keys #down {
  top: 55px;
  left: 50px;
}
#game-container .arrow-keys #left {
  top: 55px;
  left: -10px;
}
#game-container .arrow-keys #right {
  top: 55px;
  left: 110px;
}
#game-container #timer, #game-container #score {
  color: #fff;
  margin-top: 10px;
}

.switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 9999;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.song-control {
  position: fixed;
  top: 10px;
  right: 75px;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 5px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1000;
}

#prevSong {
  right: 140px;
}

#nextSong {
  right: 70px;
}

#startAudio {
  position: fixed;
  top: 55px;
  right: 10px;
  width: 100px;
  height: 34px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 9998;
}

#startAudio:hover {
  background-color: #1976D2;
}

#nowPlaying {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFFFFF;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  font-size: 18px;
  z-index: 20;
  font-family: BoldFont;
}/*# sourceMappingURL=style.css.map */